services:
  web:
    build: .
    volumes:
      - .:/app
      - static_data:/app/static/

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_data:/app/static/
    depends_on:
      - web

volumes:
  static_data: